<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center d-flex">
            <div id="logo">
                <a><img src="../../assets/img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class=""><a class="active" routerLink=' '>Home</a></li>
                    <li><a routerLink='about'>About</a></li>
                    <li><a routerLink='tab'>Contact me</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

